<ul id="collection_controller_actions" class="nav nav-tabs">
	<li<%= request.fullpath==eval('admin_'+@_module_name+'s_path') ? ' class=active' : '' %>><%= link_to('<i class="icon-th-list"></i>列表'.html_safe, eval('admin_'+@_module_name+'s_path')) %></li>
	<% if @_module_new.nil? %>
		<li<%= request.fullpath==eval('new_admin_'+@_module_name+'_path') ? ' class=active' : '' %>><%= link_to('<i class="icon-plus"></i>新增'.html_safe, eval('new_admin_'+@_module_name+'_path')) %></li>
	<% end %>
</ul>